@page "/"
@namespace BlazorApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@inject BlazorApp.Services.UrlService urlService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email images observer</title>
    <link rel="stylesheet" href="@urlService.Url("/css/bootstrap/bootstrap.min.css")" />
    <link href="@urlService.Url("/css/site.css")" rel="stylesheet" type="text/css" />
    <link href="@urlService.Url("/css/image-modal.css")" rel="stylesheet" type="text/css" />
    <link href="@urlService.Url("/BlazorApp.styles.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    @{
        var initialTokenState = new BlazorApp.Services.InitialApplicationState
        {
            XsrfToken = Xsrf.GetAndStoreTokens(HttpContext).RequestToken,
            Cookie = HttpContext.Request.Cookies[".AspNetCore.Cookies"]
        };
    }

    <component type="typeof(App)" render-mode="ServerPrerendered" param-InitialState="initialTokenState" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="@urlService.Url("/")" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <!-- The Image Modal -->
    <div id="imageModal" class="modal-image">

        <!-- The Close Button -->
        <span class="closeImageModel">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="modal-image-content" id="img01">

        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        window.confirmDelete = (title) => {
            $('#bookTitleField').text(title);
            $('#myModal').modal('show');

            return true;
        };
        window.hideDeleteDialog = () => {
            $('#myModal').modal('hide');

            return true;
        };
        window.showImageModal = (imageId) => {
            // Get the modal
            var modal = document.getElementById("imageModal");
            var modalImg = document.getElementById("img01");
            var captionText = document.getElementById("caption");

            console.log("User clic on image " + imageId);

            var image = document.getElementById(imageId);

            modal.style.display = "block";
            modalImg.src = image.src;
            captionText.innerHTML = image.alt;

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("closeImageModel")[0];

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            }
        }
    </script>
    <script src="@urlService.Url("/_framework/blazor.server.js")"></script>
</body>
</html>
