@page "/"
@using AzureComputerVision
@using System.IO
@using Microsoft.Azure.CognitiveServices.Vision.ComputerVision
@using Microsoft.Azure.CognitiveServices.Vision.ComputerVision.Models
@using Microsoft.Extensions.Options
@inject IdleClient idleClient
@inject IConfiguration config
@inject Data.BlazorDbContext context
@inject IJSRuntime JS
@inject TimezoneService TimezoneService
@inject IOptions<LoginInfo> loginInfo

<h1>Email Images Observer!</h1>

Welcome to email image observer app. Here you can watch info grab be the background process.

@if (!idleClient.IsAuthenticated)
{
    <div class="card" style="width: 18rem;">
        <div class="card-body alert-danger">
            <h5 class="card-title">The client is not authenticated</h5>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Space used</h5>
                <h6 class="card-subtitle mb-2 text-muted">@(config["Database:Provider"] ?? "InMemory")</h6>
                <p class="card-text">@GetSpaceUsed()</p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Email Sent</h5>
                <h6 class="card-subtitle mb-2 text-muted">@idleClient.MessageCount messages</h6>
                <p class="card-text">@EmailState.MessagesCount images</p>
            </div>
        </div>
    </div>
}

<h2>Measure Latency</h2>

@if (latency is null)
{
    <span>Calculating...</span>
}
else
{
    <span>@(latency.Value.TotalMilliseconds)ms</span>
}

<h2>Timezone</h2>

<span>@TimezoneService.TimeZoneInfo.DisplayName</span>


<h2>Availlable models</h2>

@if (Models != null)
{
    @foreach (var model in Models.ModelsProperty)
    {
        <ul>
            <li>@model.Name</li>
        </ul>
    }
}

@code 
{
    public Data.EmailStates EmailState { get; set; } = new Data.EmailStates();

    public ListModelsResult? Models { get; set; }

    protected override async Task OnInitializedAsync()
    {
        EmailState = await context.EmailStates.Where(e => e.Email == config["LoginInfo:EmailLogin"]).FirstOrDefaultAsync() ?? EmailState;

        try
        {
            var client = AzureImageMLApi.Authenticate(loginInfo.Value);

            var models = await client.ListModelsAsync();

            Models = models;
        }
        catch (Exception e)
        {
            Console.Error.WriteLine(e.Message);
        }
    }

    protected string GetSpaceUsed()
    {
        var size = EmailState.Size;

        if (size < 1000)
        {
            return size + " bytes";
        }
        else if (size < 10e6)
        {
            return size / 10e2 + " kB";
        }
        else if (size < 10e9)
        {
            return size / 10e5 + " mB";
        }
        else
        {
            return size / 10e8 + "gB";
        }
    }

    private TimeSpan? latency;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var startTime = System.Diagnostics.Stopwatch.StartNew();
            var _ = await JS.InvokeAsync<string>("toString");
            latency = TimeSpan.FromMilliseconds(startTime.ElapsedMilliseconds);
            StateHasChanged();
            startTime.Stop();
        }
    }
}