<tr id="imageinfo-@imageInfo.Id">
    <td>@imageInfo.Id</td>
    <td>@FormatDateTime(imageInfo.Directory.CreationTime)</td>
    <td>@imageInfo.ImageAnalysis?.Color.DominantColors.DefaultIfEmpty(string.Empty).Aggregate((a, b) => string.Concat(a, ", ", b))</td>
    <td>@imageInfo.ImageAnalysis?.Categories.Select(a => $"{a.Name} ({a.Score * 100}%)").Aggregate((a, b) => string.Concat(a, ", ", b))</td>
    <td>@imageInfo.ImageAnalysis?.Description.Captions.Select(a => $"{a.Text} ({a.Confidence * 100}%)").DefaultIfEmpty(string.Empty).Aggregate((a, b) => string.Concat(a, ", ", b))</td>
    <td>@imageInfo.ImageAnalysis?.Description.Tags.DefaultIfEmpty(string.Empty).Aggregate((a, b) => string.Concat(a, ", ", b))</td>
    <td>
        <img id="@string.Concat("image-id-", imageInfo.Id)" src="@imageInfo.ImageLink" class="img-thumbnail trigger-modal" onclick="window.showImageModal('@string.Concat("image-id-", imageInfo.Id)')" />
    </td>
    <td>
       <NavLink class="btn btn-primary" href="@string.Concat("imageanalysisdetails", "/", imageInfo.Id)">
           Details
       </NavLink>
       <button @onclick="@(() => ConfirmDelete?.Invoke(id.Value, title))" class="btn btn-danger">Delete</button>
    </td>
</tr>

@code {
    public int? id => imageInfo?.Id;
    public string title => "Delete image info " + id;

    [Parameter]
    public ImageInfo? imageInfo { get; set; }

    [Parameter]
    public Action<int, string>? ConfirmDelete { get; set; }

    public string FormatDateTime(DateTime date)
    {
        var now = DateTime.Now;

        if (date < now - TimeSpan.FromHours(24))
        {
            return date.ToShortDateString();
        }

        return date.ToShortTimeString();
    }
} 