@using BlazorApp.Data 

<tr id="imageinfo-@imageInfo">
    <td>@imageInfo.Id</td>
    <td>@imageInfo.Directory.CreationTime.ToShortDateString()</td>
    <td>@imageInfo.ImageAnalysis?.Color.DominantColors.DefaultIfEmpty(string.Empty).Aggregate((a, b) => string.Concat(a, ", ", b))</td>
    <td>@imageInfo.ImageAnalysis?.Categories.Select(a => $"{a.Name} ({a.Score * 100}%)").Aggregate((a, b) => string.Concat(a, ", ", b))</td>
    <td>@imageInfo.ImageAnalysis?.Description.Captions.Select(a => $"{a.Text} ({a.Confidence * 100}%)").DefaultIfEmpty(string.Empty).Aggregate((a, b) => string.Concat(a, ", ", b))</td>
    <td>@imageInfo.ImageAnalysis?.Description.Tags.DefaultIfEmpty(string.Empty).Aggregate((a, b) => string.Concat(a, ", ", b))</td>
    <td>
        <img src="@imageInfo.ImageLink" class="img-thumbnail" />
    </td>
    <td>
       <button @onclick="@(() => ConfirmDelete(id, title))" class="btn btn-danger">Delete</button>
    </td>
</tr>

@code {
    public int id => imageInfo.Id;
    public string title => "Delete image info " + id;

    [Parameter]
    public ImageInfo imageInfo { get; set; }

    [Parameter]
    public Action<int, string> ConfirmDelete { get; set; }
} 